body {
    background-color: #1d1f21;
    color: white;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

.container {
    width: 600px;
    margin: 0 auto;
    
    text-align: center;
    
    border: 1px solid white;
}

input[type=text] {
    color: white;
    background: #1d1f21;
    border: 1px solid white;
    text-align: center;
}