body {
    background-color: #1d1f21;
    color: white;
    text-align: center;
}

.container-daddy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    border: 1px white solid;
    padding: 5px;
    background-color: #1d1f21;
}

a:link {
    color: white;
}

a:visited {
    color: lightgray;
}

a:hover {
    color: darkgray;
}

.required {
    color: red;
}

.circle {
    /*background-color: red;*/
    width: 1em;
    height: 1em;
    border-radius: 50%;
    
    vertical-align: middle;
    
    margin-right: 5px;
    
    display: inline-block;
}