body {
    text-align: center;
    background-color: #1d1f21;
    color: white;
}

input[type=submit] {
    margin: 10px;
    padding: 5px;

    background: none;
    border: 2px solid #ffffff;

    color: #ffffff;

    cursor: pointer;
}

input[type=submit]:active {
    position: relative;
    top: 1px;
}

img {
    margin: 10px;
}